<h1>Convert<%= @from_currency %>to<%= @to_currency %></h1>

<p>Go<a href="/:currency_from">back</a>.</p>

<ul>
    <li>
    "1 <%= @from_currency %> equals ENV.fetch("EXCHANGE_RATE_KEY")<%= @to_currency %>."
    </li>
  <% end %>
</ul>
